<?xml version="1.0"?>
<!--
  Copyright © 2020 Wyomind. All rights reserved.
  See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Wyomind_OrderEraser::main" title="Order Eraser" sortOrder="10">
                    <resource id="Wyomind_OrderEraser::config" title="Manage module configuration" sortOrder="10" />
                    <resource id="Wyomind_OrderEraser::delete" title="Delete orders" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
