<?xml version="1.0"?>
<!--
  Copyright © 2020 Wyomind. All rights reserved.
  See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ordereraser>
            <license>
                <extension_label>Order Eraser</extension_label>
                <extension_version>5.4.4</extension_version>
                <extension_code>oe</extension_code>
                <get_online_license>1</get_online_license>
            <activation_key>CSO2VRRA0Q6ZF41I6</activation_key></license>
        </ordereraser>
    </default>
</config>
