<?xml version="1.0"?>
<!--
 Copyright © 2020 Wyomind. All rights reserved.
 See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- master tab -->
        <tab id="wyomind" translate="label" sortOrder="1000000" class='wyomind-logo'>
            <label>Wyomind</label>
        </tab>
        <!-- module tab -->
        <section id="ordereraser" translate="label" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label><![CDATA[Orders Eraser]]></label>
            <tab>wyomind</tab>
            <resource>Wyomind_OrderEraser::config</resource>
            <group id="license" translate="label" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>License</label>
                <field id="extension_version" translate="label" type="label" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Extension version</label>
                </field>
                <field id="activation_key" translate="label comment" type="label" sortOrder="110" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Activation key</label>
                    <frontend_model>Wyomind\Framework\Block\Adminhtml\System\Config\Form\Field\ActivationKey</frontend_model>
                </field>
                <field id="license_status" translate="label comment" type="label" sortOrder="110" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>License Status</label>
                    <frontend_model>Wyomind\Framework\Block\Adminhtml\System\Config\Form\Field\LicenseStatus</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>